# Kconfig - F6721B-EVB-176PIN board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_F6721B_EVB_176PIN

config BOARD
	default "f6721b_evb_176pin"


endif # BOARD_F6721B_EVB_176PIN
