# Kconfig - F6721B-EVB-176Pin board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_F6721B_EVB_176PIN
	bool "F6721B-EVB-176PIN Development Board"
	depends on SOC_F6721B
