# Kconfig - MPU6050 Six-Axis Motion Tracking device configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig OV7725
	bool "OmniVision OV7725 sensor support"
	depends on CAMERA_HAS_DRIVER
	default n
	help
	  This is a Video4Linux2 sensor-level driver for the Omnivision
	  OV7725 camera sensor with a MIPI CSI-2 interface.

config OV7725_0
	bool "Enable OV7725_0"
	depends on OV7725
    select DCMI_0
	default n

config OV7725_1
	bool "Enable OV7725_1"
	depends on OV7725
    select DCMI_1
	default n
	
config OV7725_MIRROR
	bool "OV7725 get frame by mirror format"
	depends on OV7725
	default n