# Kconfig - MPU6050 Six-Axis Motion Tracking device configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig FT5426
	bool "FOCALTECH FT5426 touch sensor support"
	depends on TOUCHSCREEN_DRIVERS
	default n
	help
	  This is a touchscreen sensor-level driver for the FOCALTECH
	  FT5426 touch sensor with a i2c protocol interface.