# Kconfig - GM SDK RTC
#
# Copyright (C) 2019 Gree Edgeless Microelectronics.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig RTC_GM
	bool
	prompt "GM RTC driver"
	depends on RTC && GM_HAL_RTC
	help
	  Enable support for gm rtc driver.
