CONFIG_ARM=y

CONFIG_BOARD_F6721B_EVB_144PIN=y
CONFIG_SOC_SERIES_GM6721X=y
CONFIG_SOC_F6721B=y

#
# Compiler Options
#
CONFIG_CROSS_COMPILE=""
CONFIG_DEBUG_OPTIMIZATIONS=y
CONFIG_COMPILER_OPT=""

# 150MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=200000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000

# Enable MPU
#CONFIG_GM_ARM_MPU_ENABLE=y

# Kernel Options
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=2048
CONFIG_ISR_STACK_SIZE=1024


# Memory Pool Options
CONFIG_HEAP_MEM_POOL_SIZE=8192





# console
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y

# enable pinmux

# enable PINMUX
CONFIG_PINMUX=y
CONFIG_PINMUX_NAME="PINMUX"
CONFIG_PINMUX_INIT_PRIORITY=45
CONFIG_PINMUX_GM=y
CONFIG_PINMUX_GM_PORTA=y
CONFIG_PINMUX_GM_PORTA_NAME="porta"
CONFIG_PINMUX_GM_PORTB=y
CONFIG_PINMUX_GM_PORTB_NAME="portb"
CONFIG_PINMUX_GM_PORTC=y
CONFIG_PINMUX_GM_PORTC_NAME="portc"
CONFIG_PINMUX_GM_PORTD=y
CONFIG_PINMUX_GM_PORTD_NAME="portd"
CONFIG_PINMUX_GM_PORTE=y
CONFIG_PINMUX_GM_PORTE_NAME="porte"
CONFIG_PINMUX_GM_PORTF=y
CONFIG_PINMUX_GM_PORTF_NAME="portf"
CONFIG_PINMUX_GM_PORTG=y
CONFIG_PINMUX_GM_PORTG_NAME="portg"
CONFIG_PINMUX_GM_PORTH=y
CONFIG_PINMUX_GM_PORTH_NAME="porth"
CONFIG_PINMUX_GM_PORTI=y
CONFIG_PINMUX_GM_PORTI_NAME="porti"
CONFIG_PINMUX_GM_PORTJ=y
CONFIG_PINMUX_GM_PORTJ_NAME="portj"
CONFIG_PINMUX_GM_PORTK=y
CONFIG_PINMUX_GM_PORTK_NAME="portk"
# enable GPIO

CONFIG_GPIO=y

CONFIG_GPIO_GM=y
CONFIG_GPIO_GM_A=y
CONFIG_GPIO_GM_A_NAME="GPIOA"
CONFIG_GPIO_GM_A_IRQ_PRI=1
CONFIG_GPIO_GM_B=y
CONFIG_GPIO_GM_B_NAME="GPIOB"
CONFIG_GPIO_GM_B_IRQ_PRI=1
CONFIG_GPIO_GM_C=y
CONFIG_GPIO_GM_C_NAME="GPIOC"
CONFIG_GPIO_GM_C_IRQ_PRI=1
CONFIG_GPIO_GM_D=y
CONFIG_GPIO_GM_D_NAME="GPIOD"
CONFIG_GPIO_GM_D_IRQ_PRI=1
CONFIG_GPIO_GM_E=y
CONFIG_GPIO_GM_E_NAME="GPIOE"
CONFIG_GPIO_GM_E_IRQ_PRI=1
CONFIG_GPIO_GM_F=y
CONFIG_GPIO_GM_F_NAME="GPIOF"
CONFIG_GPIO_GM_F_IRQ_PRI=1
CONFIG_GPIO_GM_G=y
CONFIG_GPIO_GM_G_NAME="GPIOG"
CONFIG_GPIO_GM_G_IRQ_PRI=1
CONFIG_GPIO_GM_H=y
CONFIG_GPIO_GM_H_NAME="GPIOH"
CONFIG_GPIO_GM_H_IRQ_PRI=1
CONFIG_GPIO_GM_I=y
CONFIG_GPIO_GM_I_NAME="GPIOI"
CONFIG_GPIO_GM_I_IRQ_PRI=1
CONFIG_GPIO_GM_J=y
CONFIG_GPIO_GM_J_NAME="GPIOJ"
CONFIG_GPIO_GM_J_IRQ_PRI=1
CONFIG_GPIO_GM_K=y
CONFIG_GPIO_GM_K_NAME="GPIOK"
CONFIG_GPIO_GM_K_IRQ_PRI=1

# clock configuration
#CONFIG_CLOCK_CONTROL=y

# basic enable gree hal
CONFIG_HAS_GM_HAL=y
CONFIG_GM_HAL_GPIO=y
CONFIG_GM_HAL_UART=y
#power manage
#CONFIG_PM=y
#CONFIG_POWER_GM=y
#CONFIG_GM_HAL_POWER=y
#CONFIG_DEVICE_POWER_MANAGEMENT=y

########cpu config#######
CONFIG_GM_HAL_CPU=y
CONFIG_GM_HAL_CACHE=y


##### memory resever ####
CONFIG_KERNEL_MEM_RESVER_SIZE=6144

###### C Library#######
CONFIG_STDOUT_CONSOLE=y

######For Ztest#######
#CONFIG_TEST_EXTRA_STACKSIZE=2048



