# Kconfig - MPU6050 Six-Axis Motion Tracking device configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig GC2145
	bool "OmniVision GC2145 sensor support"
	depends on CAMERA_HAS_DRIVER
	default n
	help
	  This is a Video4Linux2 sensor-level driver for the Omnivision
	  GC2145 camera sensor with a MIPI CSI-2 interface.

config GC2145_0
	bool "Enable GC2145_0"
	depends on GC2145
    select DCMI_0
	default n

config GC2145_1
	bool "Enable GC2145_1"
	depends on GC2145
    select DCMI_1
	default n
	
config GC2145_MIRROR
	bool "GC2145 get frame by mirror format"
	depends on GC2145
	default n