# Kconfig - MPU6050 Six-Axis Motion Tracking device configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

config TS_CORE
	bool "Enable TS_CORE"
	depends on TOUCHSCREEN_DRIVERS
	default n