# Kconfig - USB device stack configuration options

#
# Copyright (c) 2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
menu "USB Host Class"
    depends on GM_USB_HOST_STACK

config USB_MASS_STORAGE
    bool "USB Device Mass Storage Class"
    default n
    help
    This option sets usb class as Mass Storage Class

config USB_HID_MOUSE
	bool "USB Hid Mouse Class Driver"
	default n
	help
	USB Hid Mouse or KeyBoard class driver
	
config USB_AUDIO
	bool "USB Audio Speaker Driver"
	default n
	help
	USB Audio Speaker class driver
endmenu

