# Kconfig - DAC configuration options

#
# Copyright (c) 2015 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# DAC options
#
menuconfig DAC
	bool
	prompt "DAC drivers"
	help
	  Enable DAC (Digital to Analog Converter) driver configuration

if DAC

config SYS_LOG_DAC_LEVEL
	int
	prompt "DAC drivers log level"
	depends on DAC
	default 0
	range 0 4
	help

	  Sets log level for DAC driver.

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config DAC_INIT_PRIORITY
	int
	default 80
	prompt "Init priority"
	help
	  DAC Device driver initialization priority.

config DAC_0
	bool "Enable DAC 0"

config DAC_0_NAME
	string "DAC 0 Driver's name"
	depends on DAC_0
	default "DAC_0"

config DAC_0_IRQ_PRI
	int
	depends on DAC_0
	prompt "DAC 0 interrupt priority"
	default 2

config DAC_1
	bool "Enable DAC 1"

config DAC_1_NAME
	string "DAC 1 Driver's name"
	depends on DAC_1
	default "DAC_1"

config DAC_1_IRQ_PRI
	int
	depends on DAC_1
	prompt "DAC 1 interrupt priority"
	default 2    
    
source "drivers/dac/Kconfig.gm"

endif # DAC
