# Kconfig - F6721B-EVB-QFN40PIN board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_F6721B_EVB_QFN40PIN

config BOARD
	default "f6721b_evb_qfn40pin"


endif # BOARD_F6721B_EVB_QFN40PIN
