# Kconfig - BPI_EAI80-QFN80PIN board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_BPI_EAI80_QFN80PIN
	bool "BPI-EAI80--QFN80PIN Development Board"
	depends on SOC_F6721B
